In [1]:
import pandas as pd
import shutil
import os
import re
from shutil import copyfile

In [16]:
main_path=r'C:\Users\anilkumar.maddikunta\Downloads\output6'

folders=os.listdir(main_path)

df=pd.DataFrame(columns=['text'])
for folder in folders:
    folder_path=main_path+'\\'+folder
    print(folder_path)
    for file in os.listdir(folder_path):
        file_path=folder_path+'\\'+file
        with open(file_path) as f:
            lines = f.readlines()
        d={'text':lines[0]}
        df=df.append(d,ignore_index=Tru

C:\Users\anilkumar.maddikunta\Downloads\output6\fdbe9035-Naukri_MadanShivasetty9y_0m
C:\Users\anilkumar.maddikunta\Downloads\output6\fdefde8a-Naukri_SravanKumar8y_0m
C:\Users\anilkumar.maddikunta\Downloads\output6\febf63e5-Naukri_SrinuJegurupati5y_1m
C:\Users\anilkumar.maddikunta\Downloads\output6\fef03566-Naukri_AnkurShukla6y_0m
C:\Users\anilkumar.maddikunta\Downloads\output6\ff41ad38-Naukri_KARRIKUMAR15y_0m
C:\Users\anilkumar.maddikunta\Downloads\output6\ff942019-RavulaPriyanka6_0
C:\Users\anilkumar.maddikunta\Downloads\output6\ffccd882-Naukri_ShaikAbdulKhadarJilani4y_0m_1_page-00

In [17]:
df

                                                  text
0    CAPABILITIES: Adobe Photoshop Flash, Illustrat...
1    OBJECTIVE: Utilize my skill set and knowledge ...
2                               PROFESSIONALSUMMARX:\n
3    Here am sharing YouTube link for my Intro Anim...
4    PROFESSIONAL EXPERIENCE: Next Education India ...
..                                                 ...
96                             Project Description-1\n
97                             Project Description-4\n
98                                        STRENGTHS:\n
99   TECHNICAL SKILLS: Programming Language Operati...
100  CAREER PROFILE: Worked as Software Engineer in...

[101 rows x 1 columns]