In [1]:
import spacy

In [2]:
spacy.__version__

'3.2.1'

In [3]:
import random
from pathlib import Path
import spacy
import re
import spacy_lookups_data

import random
from spacy.util import minibatch,compounding
from spacy.tokens import Doc
from spacy.training import Example

import os
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings("ignore")

os.getcwd()

'F:\\projects\\ARP'

In [294]:
json_data = pd.read_json('./Datasets/chunk_data/output/PS_50.json')
print(json_data.shape)

(50, 9)

In [6]:
# json_data = pd.read_json('F:\basic.json').iloc[0:150]

In [7]:
# json_data = pd.read_json('F:/basic.json')

In [8]:
json_data

,id,annotations,predictions,file_upload,data,meta,created_at,updated_at,project
0,172,"[{'id': 62, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'Working as Data Scientist, TCS Hyder...",{},2022-04-01 08:06:57.929584+00:00,2022-04-01 10:51:44.918037+00:00,7
1,171,"[{'id': 61, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as an Applications Engineer ...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 10:51:21.280451+00:00,7
2,169,"[{'id': 59, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'Client: Hyundai,Hyderabad ...",{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:49:26.377254+00:00,7
3,168,"[{'id': 58, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'COLLABERA TECHNOLOGIES PRIVATE LIMIT...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:48:42.376802+00:00,7
4,167,"[{'id': 57, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Senior Process Executive Infosys 07/...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:48:13.177013+00:00,7
5,166,"[{'id': 56, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'Organization – Synechron, Pune Desig...",{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:47:37.127892+00:00,7
6,165,"[{'id': 55, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Decision minds Junior Data scientist...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:47:15.428344+00:00,7
7,164,"[{'id': 54, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Commonwealth Bank of Australia Data ...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:46:55.981565+00:00,7
8,163,"[{'id': 53, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'NOV’16 – OCT’17: Tech Mahindra as A...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:41:23.526053+00:00,7
9,162,"[{'id': 52, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'September 2020 – Current Python Deve...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:40:40.055300+00:00,7
10,161,"[{'id': 51, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as python developer in Brio ...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:36:22.307305+00:00,7
11,160,"[{'id': 50, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'JAN 2020 – PRESENT DATA ANALYST, WEB...",{},2022-04-01 08:06:57.928587+00:00,2022-04-01 10:35:12.218251+00:00,7
12,173,"[{'id': 63, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data scientist – Intern Innodatatics...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
13,174,"[{'id': 64, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Senior Data Scientist Capgemini 20...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
14,175,"[{'id': 65, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as Data Analyst at PROMAESTR...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
15,176,"[{'id': 66, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'TECH MAHINDRA: HYDERABAD, TELANGANA ...",{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
16,177,"[{'id': 67, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'TEKOPTIMIZE SOFTWARE INDIA Pvt. Ltd....,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
17,178,"[{'id': 68, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Machine Learning Engineer PPC Minds ...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
18,179,"[{'id': 69, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data Scientist Consultant Rubixe 11/...,{},2022-04-01 08:06:57.929584+00:00,2022-04-01 08:06:57.929584+00:00,7
19,156,"[{'id': 46, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Codesets IT Solutions (INDIA) Pvt Lt...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 08:06:57.928587+00:00,7
20,157,"[{'id': 47, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Cyient: I had 2years of experience a...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 08:06:57.928587+00:00,7
21,158,"[{'id': 48, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Worked as Senior Associate in Wipro ...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 08:06:57.928587+00:00,7
22,159,"[{'id': 49, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'JUNE 2019 - PRESENT Data Science Eng...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 08:06:57.928587+00:00,7
23,170,"[{'id': 60, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'TATA Consultancy Services Machine Le...,{},2022-04-01 08:06:57.928587+00:00,2022-04-01 08:06:57.928587+00:00,7
24,140,"[{'id': 30, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data Analyst with 2+ experience in p...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
25,141,"[{'id': 31, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': '07/2018 – Present Data Scientist Wip...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
26,142,"[{'id': 32, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data Scientist FIRST TECH Consulting...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
27,143,"[{'id': 33, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Present working as Data Scientist fo...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
28,144,"[{'id': 34, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'Working as Data Scientist, TCS Hyder...",{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
29,145,"[{'id': 35, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Software Engineer | Sagarsoft (India...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
30,146,"[{'id': 36, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Senior Software Engineer Altran Feb ...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
31,147,"[{'id': 37, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Software Engineer Reliance Jio Aug 2...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
32,148,"[{'id': 38, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Worked as Python Developer at Optum ...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
33,149,"[{'id': 39, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Software Engineer Pega Systems 07/20...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
34,150,"[{'id': 40, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data analytics professional with 3.6...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
35,151,"[{'id': 41, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as Software Engineer PERITO ...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
36,152,"[{'id': 42, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as Software Developer in And...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
37,153,"[{'id': 43, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Data Scientist | Senior Software Eng...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
38,154,"[{'id': 44, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Accenture Services Pvt. Ltd. Associa...,{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
39,155,"[{'id': 45, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': 'Norm Software, Hyderabad (Feb 2020 t...",{},2022-04-01 08:06:57.927573+00:00,2022-04-01 08:06:57.927573+00:00,7
40,130,"[{'id': 20, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': '3+ years of Experience in Sysark Dat...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
41,131,"[{'id': 21, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'PROJECT 1: Customer Feedback Analysi...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
42,132,"[{'id': 22, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'PROJECT I Company: IFS India Marcant...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
43,133,"[{'id': 23, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Khushi Software Services Pvt Ltd. De...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
44,134,"[{'id': 24, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as Data Analyst at ESMOB TEC...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
45,135,"[{'id': 25, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Company Name : TechMahindra ltd Hyde...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
46,136,"[{'id': 26, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,"{'text': '1.TCS (Tata Consultancy Services), H...",{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
47,137,"[{'id': 27, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'IVEOND Consulting Pvt Ltd – Hyderaba...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
48,138,"[{'id': 28, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as a Data Scientist in Tech ...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7
49,139,"[{'id': 29, 'completed_by': {'id': 1, 'email':...",[],04fe7683-ps.csv,{'text': 'Working as Data Scientist in Tech Ma...,{},2022-04-01 08:06:57.926574+00:00,2022-04-01 08:06:57.926574+00:00,7

In [295]:
json_data.data[15]['text']

'TECH MAHINDRA: HYDERABAD, TELANGANA (DEC 2016 – PRESENT)'

In [345]:
TRAIN_DATA = []

In [346]:
TRAIN_DATA

[]

In [349]:
TRAIN_DATA = []
for i in range(0,len(json_data)):
    starts = [json_data.annotations[i][0]['result'][k]['value']['start'] for k in range(0,len(json_data.annotations[i][0]['result']))]
    ends = [json_data.annotations[i][0]['result'][k]['value']['end'] for k in range(0,len(json_data.annotations[i][0]['result']))]
    labels = [json_data.annotations[i][0]['result'][k]['value']['labels'][0] for k in range(0,len(json_data.annotations[i][0]['result']))]

    entities = []
    for j in range(0,len(starts)):
        entities.append((starts[j],ends[j],labels[j]))
    TRAIN_DATA.append((json_data.data[i]['text'],{'entities': entities}))

In [354]:
TRAIN_DATA[0:2]

[('Working as Data Scientist, TCS Hyderabad (1st July 2019to till date).',
  {'entities': [(11, 25, 'designation'),
    (27, 30, 'organization'),
    (42, 67, 'date')]}),
 ('Working as an Applications Engineer in Oracle India Pvt ltd, Hyderabad from April 2018 to present.                                                                                                                                                                                        \nWorked as an Associate Projects in Cognizant Technology Solutions, Hyderabad from August 2014 to April 2018.\nWorked as a Software Engineer in Tech Mahindra ltd, Hyderabad from August 2013 to May 2014.\n',
  {'entities': [(14, 35, 'designation'),
    (296, 314, 'designation'),
    (404, 421, 'designation'),
    (425, 442, 'organization'),
    (39, 59, 'organization'),
    (318, 348, 'organization'),
    (76, 97, 'date'),
    (365, 390, 'date'),
    (459, 483, 'date')]})]

In [13]:
# training data
# TRAIN_DATA = dataset_to_train_data("text_final_train_annot")


def main(model=None, output_dir='./models', n_iter=10):
    """Load the model, set up the pipeline and train the entity recognizer."""
    if model is not None:
        nlp = spacy.load(model)  # load existing spaCy model
        print("Loaded model '%s'" % model)
    else:
#         nlp = spacy.load('xx_ent_wiki_sm')  
        nlp=spacy.load('en_core_web_sm')
        print("Created blank 'english language' model")

    # create the built-in pipeline components and add them to the pipeline
    # nlp.create_pipe works for built-ins that are registered with spaCy
    if 'ner' not in nlp.pipe_names:
        ner = nlp.create_pipe('ner')
        nlp.add_pipe(ner, last=True)
    # otherwise, get it so we can add labels
    else:
        ner = nlp.get_pipe('ner')

    # add labels
    for _, annotations in TRAIN_DATA:
        for ent in annotations.get('entities'):
            ner.add_label(ent[2])

    # get names of other pipes to disable them during training
    other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
    with nlp.disable_pipes(*other_pipes):  # only train NER
        optimizer = nlp.begin_training()
        examples = []
        losses = {}
        for text, annots in TRAIN_DATA:
            examples.append(Example.from_dict(nlp.make_doc(text), annots))
        nlp.initialize(lambda: examples)
        for i in range(40):
            print(i)
            random.shuffle(examples)
            for batch in minibatch(examples, size=32):
                nlp.update(batch,losses=losses)
        print(losses)

    # test the trained model
    for text, _ in TRAIN_DATA:
        doc = nlp(text)
#         print('Entities', [(ent.text, ent.label_) for ent in doc.ents])
#         print('Tokens', [(t.text, t.ent_type_, t.ent_iob) for t in doc])

    # save model to output directory
    if output_dir is not None:
        output_dir = Path(output_dir)
        if not output_dir.exists():
            output_dir.mkdir()
        nlp.to_disk(output_dir)
        print("Saved model to", output_dir)

        # test the saved model
        print("Loading from", output_dir)
        nlp2 = spacy.load(output_dir)
        for text, _ in TRAIN_DATA:
            doc = nlp2(text)
#             print('Entities', [(ent.text, ent.label_) for ent in doc.ents])
#             print('Tokens', [(t.text, t.ent_type_, t.ent_iob) for t in doc])


if __name__ == '__main__':
    main()

Created blank 'english language' model
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
{'ner': 100476.52390140161}
Saved model to models
Loading from models

### checking the model on a sample text

In [319]:
import spacy
nlp = spacy.load('./models')
doc = nlp

values = {}
org = []
date = []
des = []

list1 = []
list2 = []

for k in range(0, 49):
    print("\n\n--------------------------------------------------")
    doc = nlp(json_data.data[k]['text'])
    print("\n\n","ENTITIES : \n")
    for ent in doc.ents:      
        print(ent.text,",",ent.label_)
#         value = ent.text + "," + ent.label_
#         list1.append(value)
# list2.append(list1)

--------------------------------------------------


 ENTITIES :

Data Scientist , designation
TCS , organization
1st July 2019to till date , date


--------------------------------------------------


 ENTITIES :

Applications Engineer , designation
Oracle India Pvt ltd , organization
April 2018 to present , date
Associate Projects , designation
Cognizant Technology Solutions , organization
August 2014 to April 2018 , date
Software Engineer , designation
Tech Mahindra ltd , organization
August 2013 to May 2014. , date


--------------------------------------------------


 ENTITIES :

Hyundai,Hyderabad , organization
Sep 2020 – , date
Data Analyst/Data Scientist , designation
CMS Energy, Hyderabad , organization
Apr 2018 – Aug 2020 , date
Data Analyst/Data Scientist , organization
Bank of the West, Hyderabad , organization
Aug 2016 – Mar 2018 , date
Data Analyst / Data Scientist , designation


--------------------------------------------------


 ENTITIES :

COLLABERA TECHNOLOGIES PRIVATE LIMITED , organization
Data Scientist , designation
May 2021 to present , date
SOFT CONNEX TECHNOLOGIES PRIVATE LIMITED , organization
Data Analyst , designation
December 2017 to April 2021 , date
Software Engineer , designation
October 2017 to November 2017 , date


--------------------------------------------------


 ENTITIES :

Senior Process Executive , designation
Infosys , organization
07/2017 - Present , date
Data Analyst - Internship , designation
06/2021 - 08/2021 , date
Data Analyst , designation
Global Logic , organization
Intern , designation
Clossus360 , organization
09/2014 - 05/2015 , date


--------------------------------------------------


 ENTITIES :

Synechron , organization
Data Scientist , designation
February 2020 to till Date , date


--------------------------------------------------


 ENTITIES :

Decision minds , organization
Junior Data scientist , designation
March 2020 – Present , date


--------------------------------------------------


 ENTITIES :

Commonwealth Bank of Australia , organization
Data Scientist , designation
Jan 2021-Present , date
Velankani Communications , organization
Data Scientist , designation
July 2020-Dec-2020 , date
Tata Consultancy Services , organization
Data Scientist , designation
July 2016-June 2020 , date


--------------------------------------------------


 ENTITIES :

NOV’16 – OCT’17 , date
Tech Mahindra , organization
Associate Software Engineer. , designation
AUG’18 – OCT’20 , date
Vitech Systems Asia Pvt. Ltd , organization
Associate Developer , designation
NOV’20 – Present , date
KPMG , organization
Data Scientist. , designation


--------------------------------------------------


 ENTITIES :

September 2020 – , date
Python Developer , designation
June 2018 – August 2020 , date
Python Developer , designation
IEM (Development Section) , organization
Jan 2014 – May 2018 , date
Assistant Professor , designation
IEM (Academic Section) , organization
Jun 2012 – Dec 2013 , date
System Administrator and Lecturer , designation
May 2011 – Mar 2012 , date
IT Executive , designation
HIND-FAME Limited , organization
Nov 2008 – Oct 2009 , date
Technical Trainer , designation
HCL Infosystems Limited (CDC) , organization


--------------------------------------------------


 ENTITIES :

python developer , designation
Brio Technologies Pvt Ltd Hyderabad , organization
October 2018 to till now , date
Python developer , designation
Hallmark Solutions, vizag (start-up) , organization
Jul 2018 to Aug 31 , date
Python Developer , designation
Citimedia Global Solutions Pvt Ltd , organization
Oct 2016-jul 2018 , date


--------------------------------------------------


 ENTITIES :

JAN 2020 – PRESENT , date
DATA ANALYST , designation
WEBMAAZIX SOLUTIONS PVT LTD , organization


--------------------------------------------------


 ENTITIES :

Data scientist – Intern , designation
Innodatatics , organization
December 2021 - Present , date
Associate - Enrollment , designation
Legato Health Technologies , organization
March 2020 - September 2021 , date
Pharma Benefit Analyst (QA) , designation
Optum Global Solutions , organization
July 2017 - December 2019 , date


--------------------------------------------------


 ENTITIES :

Senior Data Scientist , designation
Capgemini , organization
2020 - Ongoing , date
Data Scientist , designation
IBM , organization
2018 - 2020 , date
Entry-Level Data Scientist , designation
ResultsCX , organization
2016- 2018 , date


--------------------------------------------------


 ENTITIES :

Data Analyst , designation
PROMAESTRO TECHSOURCE Pvt. , organization
Sept 2019 to Till date , date
Software Engineer , designation
Magna InfoTech (A Subsidiary of Quess Corp Limited) , date
April 2019 to Aug 2019 , date
LTE Test Engineer , designation
Pentagram Infotech Pvt. , organization
May 2014 to Oct 2017 , date


--------------------------------------------------


 ENTITIES :

TECH MAHINDRA , organization
DEC 2016 – PRESENT , date


--------------------------------------------------


 ENTITIES :

TEKOPTIMIZE SOFTWARE INDIA Pvt. , organization
17th July 2017 to Present , date
Data Scientist , designation


--------------------------------------------------


 ENTITIES :

Machine Learning Engineer , designation
PPC Minds Consulting , designation
Dec 2017 – Present , organization
Research Engineer , designation
Openmined , organization
October 2019 – Present , date
Programmer Analyst (Quality Analyst) , designation
Cognizant Technology Solutions , organization
May 2015- , date
Customer Service Agent , designation
Amazon , organization
June 2015 – Aug 2015 , date


--------------------------------------------------


 ENTITIES :

Data Scientist Consultant , designation
Rubixe , organization
11/2020 - Present , date
R&D Engineer , designation
Rolls Royce , organization
08/2019 - 07/2020 , date
Engineer , designation
QuEST , organization
01/2017 - 10/2020 , date


--------------------------------------------------


 ENTITIES :

Codesets IT Solutions (INDIA) Pvt Ltd. , organization
Jan 2019 , date
Till Date , date
Data Scientist , designation


--------------------------------------------------


 ENTITIES :

Cyient , organization
Junior Gis , designation
2013 , date
2014 , date
RAMTECH SOFTWARE SOLUTIONS , organization
GIs Engineer , designation
Tata Consultancy Services , organization
Gis engineer , designation
15-10-2017 , date
20-03-2019 , date
20-03-2020 , date


--------------------------------------------------


 ENTITIES :

Senior Associate , designation
Wipro , organization
Nov 2016 , date
Jan 2020 , date


--------------------------------------------------


 ENTITIES :

JUNE 2019 , date
PRESENT , date
Data Science Engineer , designation
Gramener, Hyderabad , organization
FEBRUARY 2016 , date
MAY 2019 , date
Programmer , designation
Cognosia Institute Private Ltd, Hyderabad , organization


--------------------------------------------------


 ENTITIES :

TATA Consultancy Services , organization
Machine Learning Engineer , designation


--------------------------------------------------


 ENTITIES :

Data Analyst , designation
SYS NOV technologies PVT LTD , organization
Sr. , designation
Synchrony International service PVT ltd , organization


--------------------------------------------------


 ENTITIES :

07/2018 , date
Present , date
Data Scientist , designation
Wipro , organization
Machine Learning Engineer , designation
Wipro , organization
Data Scientist , designation
Wipro , organization


--------------------------------------------------


 ENTITIES :

Data Scientist , designation
FIRST TECH Consulting , organization
Jan 2018 , date
Present , date


--------------------------------------------------


 ENTITIES :

Data Scientist , designation
Optm Private ltd , organization
till date , date
Data Scientist , designation
Alignity. , organization
Aug 2019 , date
Aug 2021. , date
Data Scientist , designation
Yagnum , organization
Jul 2017 , date
Aug 2019. , date


--------------------------------------------------


 ENTITIES :

Data Scientist , designation
TCS Hyderabad , organization
02/01/2018 , date
till date , date


--------------------------------------------------


 ENTITIES :

Software Engineer , designation
Jan ’16 , date
Present , date


--------------------------------------------------


 ENTITIES :

Senior Software Engineer , designation
Altran , organization
Feb 2019 , date
Present , date
Software Engineer , designation
CES Limited , organization
Dec 2017 , date
Dec 2018 , date
Software Engineer , designation
Mobigesture , organization
Aug 2015 , date
Dec 2017 , date


--------------------------------------------------


 ENTITIES :

Software Engineer , designation
Reliance Jio , organization
Aug 2020 , date
Present , date
Software Engineer , designation
Tata Consultancy Services , organization
Nov 2016 , date
Jul 2020 , date


--------------------------------------------------


 ENTITIES :

Python Developer , designation
Optum Global Solutions , organization
Sep-2016 , date
Oct-2019 , date
Python Developer , designation
Nov-2019 , date
July-2020. , date


--------------------------------------------------

 ENTITIES :

Software Engineer , designation
Pega Systems , organization
07/2021 , date
Present , date
Machine Learning Engineer , designation
ADP India , organization
03/2017 , date
07/2019 , date


--------------------------------------------------


 ENTITIES :

Data analytics , designation
DATA ANALYST , designation
ESMOB Technolgies Pvt Ltd. , organization
April 2020 , date
till date , date
DATA ASSOCIATE , designation
ESMOB Technologies Pvt Ltd , organization
July 2018 , date
March 2020. , date


--------------------------------------------------


 ENTITIES :

Software Engineer , designation
PERITO CYBER MANAGEMENT PVT LTD , organization
Feb 2017 , date
till Date , date


--------------------------------------------------


 ENTITIES :

Software Developer , designation
Andhra Pradesh State Skill Development Corporation , organization
May 2015 , date
till the date , date


--------------------------------------------------


 ENTITIES :

Data Scientist , designation
Senior Software Engineer , designation
ValueLabs , organization
August 2020 , date
Present , date
Software Engineer , designation
ValueLabs , organization
July 2019 , date
July 2020 , date
Ardent Computech Private Limited , organization
Machine Learning Intern , designation
May 2018 , date
Aug 2018 , date


--------------------------------------------------


 ENTITIES :

Accenture Services Pvt. , organization
Associate Data Scientist , designation
May 2018 , date
Jan 2021. , date
CDK Global Pvt. , organization
Data Scientist , designation
Jan 2021 , date
Present. , date


--------------------------------------------------


 ENTITIES :

Norm Software , organization
Feb 2020 , date
till date , date
Software Engineer , designation
Mandali Software Solution Pvt Ltd , organization
Aug 2016 , date
Jan 2020 , date
Software Engineer , designation


--------------------------------------------------


 ENTITIES :

Sysark Datasol Pvt. , organization
Jan 2019 , date
Till Date , date
Data Scientist , designation


--------------------------------------------------


 ENTITIES :

May 2021 , date
Till Date , date
Feb 2020 , date
ML Engineer , designation


--------------------------------------------------


 ENTITIES :

IFS India Marcantile Pvt. , organization
March 2021 , date
Present , date
Data Scientist , designation
IFS India Marcantile Pvt. , organization
May 2020 , date
March 2021 , date
Data Scientist , designation
IFS India Marcantile Pvt , organization
June 2019 , date
April 2020 , date
Data Scientist , designation
IFS India Marcantile Pvt. , organization
Dec 2018 , date
May 2019 , date
Data Scientist , designation


--------------------------------------------------


 ENTITIES :

December 2018 , date
Till Date , date
Data Scientist , designation


--------------------------------------------------


 ENTITIES :

Data Analyst , designation
ESMOB TECHNOLOGIES PRIVATE LIMITED , organization
Oct 2019 , date
Till Date , date
HR Executive , designation
Lejara Global IT Solutions Pvt. , organization
July 2017 , date
Sep 2019 , date


--------------------------------------------------


 ENTITIES :

TechMahindra ltd , organization
Software Engineer , designation
Feb 2017 , date
Till date , date


--------------------------------------------------


 ENTITIES :

Tata Consultancy Services , organization
Machine Learning Engineer , designation
Jan 2019 , date
Till Date , date
Oracle Database Administrator , designation
July 2018 , date
Dec 2018 , date


--------------------------------------------------


 ENTITIES :

IVEOND Consulting Pvt Ltd , organization
Data Scientist , designation
1/09/2021 , date
current Date , date
Synerg Technology (India) , organization
Junior AI Developer , designation
14/09/2020 , date
29/08/2021 , date
Mandate Logistics Pvt Ltd , organization
Data Scientist , designation
07/08/2019 , date
07/09/2020 , date
Data Scientist (Intern) , designation
02/2018 , date
01/2019 , date
Feedback180 Co. Ltd , organization


--------------------------------------------------


 ENTITIES :

Data Scientist , designation
Tech Mahindra , organization

In [321]:
text = """3+ years of Experience in Sysark Datasol Pvt. Ltd. (Jan 2019 - Till Date)"""

doc = nlp(text)

for ent in doc.ents:
     print(ent.text,",",ent.label_)

Sysark Datasol Pvt. , organization
Jan 2019 , date
Till Date , date

In [146]:
# for k in range(0, 4):
#     doc = nlp(json_data.data[k]['text'])
#     print(doc)
#     print("===")

In [147]:
# list2

In [128]:
details = {"information" : list2}

In [139]:
df = pd.DataFrame(values)

In [141]:
df['information'][0]

'Data Scientist,designation'

In [126]:
df['information'][0]

['Data Scientist,designation',
 'TCS,organization',
 '1st July 2019to till date,date',
 'Applications Engineer,designation',
 'Oracle India Pvt ltd,organization',
 'April 2018 to present,date',
 'Associate Projects,designation',
 'Cognizant Technology Solutions,organization',
 'August 2014 to April 2018,date',
 'Software Engineer,designation',
 'Tech Mahindra ltd,organization',
 'August 2013 to May 2014.,date',
 'Hyundai,Hyderabad,organization',
 'Sep 2020 –,date',
 'Data Analyst/Data Scientist,designation',
 'CMS Energy, Hyderabad,organization',
 'Apr 2018 – Aug 2020,date',
 'Data Analyst/Data Scientist,organization',
 'Bank of the West, Hyderabad,organization',
 'Aug 2016 – Mar 2018,date',
 'Data Analyst / Data Scientist,designation',
 'COLLABERA TECHNOLOGIES PRIVATE LIMITED,organization',
 'Data Scientist,designation',
 'May 2021 to present,date',
 'SOFT CONNEX TECHNOLOGIES PRIVATE LIMITED,organization',
 'Data Analyst,designation',
 'December 2017 to April 2021,date',
 'Software Engineer,designation',
 'October 2017 to November 2017,date',
 'Senior Process Executive,designation',
 'Infosys,organization',
 '07/2017 - Present,date',
 'Data Analyst - Internship,designation',
 '06/2021 - 08/2021,date',
 'Data Analyst,designation',
 'Global Logic,organization',
 'Intern,designation',
 'Clossus360,organization',
 '09/2014 - 05/2015,date',
 'Synechron,organization',
 'Data Scientist,designation',
 'February 2020 to till Date,date',
 'Decision minds,organization',
 'Junior Data scientist,designation',
 'March 2020 – Present,date',
 'Commonwealth Bank of Australia,organization',
 'Data Scientist,designation',
 'Jan 2021-Present,date',
 'Velankani Communications,organization',
 'Data Scientist,designation',
 'July 2020-Dec-2020,date',
 'Tata Consultancy Services,organization',
 'Data Scientist,designation',
 'July 2016-June 2020,date',
 'NOV’16 – OCT’17,date',
 'Tech Mahindra,organization',
 'Associate Software Engineer.,designation',
 'AUG’18 – OCT’20,date',
 'Vitech Systems Asia Pvt. Ltd,organization',
 'Associate Developer,designation',
 'NOV’20 – Present,date',
 'KPMG,organization',
 'Data Scientist.,designation',
 'September 2020 –,date',
 'Python Developer,designation',
 'June 2018 – August 2020,date',
 'Python Developer,designation',
 'IEM (Development Section),organization',
 'Jan 2014 – May 2018,date',
 'Assistant Professor,designation',
 'IEM (Academic Section),organization',
 'Jun 2012 – Dec 2013,date',
 'System Administrator and Lecturer,designation',
 'May 2011 – Mar 2012,date',
 'IT Executive,designation',
 'HIND-FAME Limited,organization',
 'Nov 2008 – Oct 2009,date',
 'Technical Trainer,designation',
 'HCL Infosystems Limited (CDC),organization',
 'python developer,designation',
 'Brio Technologies Pvt Ltd Hyderabad,organization',
 'October 2018 to till now,date',
 'Python developer,designation',
 'Hallmark Solutions, vizag (start-up),organization',
 'Jul 2018 to Aug 31,date',
 'Python Developer,designation',
 'Citimedia Global Solutions Pvt Ltd,organization',
 'Oct 2016-jul 2018,date',
 'JAN 2020 – PRESENT,date',
 'DATA ANALYST,designation',
 'WEBMAAZIX SOLUTIONS PVT LTD,organization',
 'Data scientist – Intern,designation',
 'Innodatatics,organization',
 'December 2021 - Present,date',
 'Associate - Enrollment,designation',
 'Legato Health Technologies,organization',
 'March 2020 - September 2021,date',
 'Pharma Benefit Analyst (QA),designation',
 'Optum Global Solutions,organization',
 'July 2017 - December 2019,date',
 'Senior Data Scientist,designation',
 'Capgemini,organization',
 '2020 - Ongoing,date',
 'Data Scientist,designation',
 'IBM,organization',
 '2018 - 2020,date',
 'Entry-Level Data Scientist,designation',
 'ResultsCX,organization',
 '2016- 2018,date',
 'Data Analyst,designation',
 'PROMAESTRO TECHSOURCE Pvt.,organization',
 'Sept 2019 to Till date,date',
 'Software Engineer,designation',
 'Magna InfoTech (A Subsidiary of Quess Corp Limited),date',
 'April 2019 to Aug 2019,date',
 'LTE Test Engineer,designation',
 'Pentagram Infotech Pvt.,organization',
 'May 2014 to Oct 2017,date',
 'TECH MAHINDRA,organization',
 'DEC 2016 – PRESENT,date',
 'TEKOPTIMIZE SOFTWARE INDIA Pvt.,organization',
 '17th July 2017 to Present,date',
 'Data Scientist,designation',
 'Machine Learning Engineer,designation',
 'PPC Minds Consulting,designation',
 'Dec 2017 – Present,organization',
 'Research Engineer,designation',
 'Openmined,organization',
 'October 2019 – Present,date',
 'Programmer Analyst (Quality Analyst),designation',
 'Cognizant Technology Solutions,organization',
 'May 2015-,date',
 'Customer Service Agent,designation',
 'Amazon,organization',
 'June 2015 – Aug 2015,date',
 'Data Scientist Consultant,designation',
 'Rubixe,organization',
 '11/2020 - Present,date',
 'R&D Engineer,designation',
 'Rolls Royce,organization',
 '08/2019 - 07/2020,date',
 'Engineer,designation',
 'QuEST,organization',
 '01/2017 - 10/2020,date',
 'Codesets IT Solutions (INDIA) Pvt Ltd.,organization',
 'Jan 2019,date',
 'Till Date,date',
 'Data Scientist,designation',
 'Cyient,organization',
 'Junior Gis,designation',
 '2013,date',
 '2014,date',
 'RAMTECH SOFTWARE SOLUTIONS,organization',
 'GIs Engineer,designation',
 'Tata Consultancy Services,organization',
 'Gis engineer,designation',
 '15-10-2017,date',
 '20-03-2019,date',
 '20-03-2020,date',
 'Senior Associate,designation',
 'Wipro,organization',
 'Nov 2016,date',
 'Jan 2020,date',
 'JUNE 2019,date',
 'PRESENT,date',
 'Data Science Engineer,designation',
 'Gramener, Hyderabad,organization',
 'FEBRUARY 2016,date',
 'MAY 2019,date',
 'Programmer,designation',
 'Cognosia Institute Private Ltd, Hyderabad,organization',
 'TATA Consultancy Services,organization',
 'Machine Learning Engineer,designation',
 'Data Analyst,designation',
 'SYS NOV technologies PVT LTD,organization',
 'Sr.,designation',
 'Synchrony International service PVT ltd,organization',
 '07/2018,date',
 'Present,date',
 'Data Scientist,designation',
 'Wipro,organization',
 'Machine Learning Engineer,designation',
 'Wipro,organization',
 'Data Scientist,designation',
 'Wipro,organization',
 'Data Scientist,designation',
 'FIRST TECH Consulting,organization',
 'Jan 2018,date',
 'Present,date',
 'Data Scientist,designation',
 'Optm Private ltd,organization',
 'till date,date',
 'Data Scientist,designation',
 'Alignity.,organization',
 'Aug 2019,date',
 'Aug 2021.,date',
 'Data Scientist,designation',
 'Yagnum,organization',
 'Jul 2017,date',
 'Aug 2019.,date',
 'Data Scientist,designation',
 'TCS Hyderabad,organization',
 '02/01/2018,date',
 'till date,date',
 'Software Engineer,designation',
 'Jan ’16,date',
 'Present,date',
 'Senior Software Engineer,designation',
 'Altran,organization',
 'Feb 2019,date',
 'Present,date',
 'Software Engineer,designation',
 'CES Limited,organization',
 'Dec 2017,date',
 'Dec 2018,date',
 'Software Engineer,designation',
 'Mobigesture,organization',
 'Aug 2015,date',
 'Dec 2017,date',
 'Software Engineer,designation',
 'Reliance Jio,organization',
 'Aug 2020,date',
 'Present,date',
 'Software Engineer,designation',
 'Tata Consultancy Services,organization',
 'Nov 2016,date',
 'Jul 2020,date',
 'Python Developer,designation',
 'Optum Global Solutions,organization',
 'Sep-2016,date',
 'Oct-2019,date',
 'Python Developer,designation',
 'Nov-2019,date',
 'July-2020.,date',
 'Software Engineer,designation',
 'Pega Systems,organization',
 '07/2021,date',
 'Present,date',
 'Machine Learning Engineer,designation',
 'ADP India,organization',
 '03/2017,date',
 '07/2019,date',
 'Data analytics,designation',
 'DATA ANALYST,designation',
 'ESMOB Technolgies Pvt Ltd.,organization',
 'April 2020,date',
 'till date,date',
 'DATA ASSOCIATE,designation',
 'ESMOB Technologies Pvt Ltd,organization',
 'July 2018,date',
 'March 2020.,date',
 'Software Engineer,designation',
 'PERITO CYBER MANAGEMENT PVT LTD,organization',
 'Feb 2017,date',
 'till Date,date',
 'Software Developer,designation',
 'Andhra Pradesh State Skill Development Corporation,organization',
 'May 2015,date',
 'till the date,date',
 'Data Scientist,designation',
 'Senior Software Engineer,designation',
 'ValueLabs,organization',
 'August 2020,date',
 'Present,date',
 'Software Engineer,designation',
 'ValueLabs,organization',
 'July 2019,date',
 'July 2020,date',
 'Ardent Computech Private Limited,organization',
 'Machine Learning Intern,designation',
 'May 2018,date',
 'Aug 2018,date',
 'Accenture Services Pvt.,organization',
 'Associate Data Scientist,designation',
 'May 2018,date',
 'Jan 2021.,date',
 'CDK Global Pvt.,organization',
 'Data Scientist,designation',
 'Jan 2021,date',
 'Present.,date',
 'Norm Software,organization',
 'Feb 2020,date',
 'till date,date',
 'Software Engineer,designation',
 'Mandali Software Solution Pvt Ltd,organization',
 'Aug 2016,date',
 'Jan 2020,date',
 'Software Engineer,designation',
 'Sysark Datasol Pvt.,organization',
 'Jan 2019,date',
 'Till Date,date',
 'Data Scientist,designation',
 'May 2021,date',
 'Till Date,date',
 'Feb 2020,date',
 'ML Engineer,designation',
 'IFS India Marcantile Pvt.,organization',
 'March 2021,date',
 'Present,date',
 'Data Scientist,designation',
 'IFS India Marcantile Pvt.,organization',
 'May 2020,date',
 'March 2021,date',
 'Data Scientist,designation',
 'IFS India Marcantile Pvt,organization',
 'June 2019,date',
 'April 2020,date',
 'Data Scientist,designation',
 'IFS India Marcantile Pvt.,organization',
 'Dec 2018,date',
 'May 2019,date',
 'Data Scientist,designation',
 'December 2018,date',
 'Till Date,date',
 'Data Scientist,designation',
 'Data Analyst,designation',
 'ESMOB TECHNOLOGIES PRIVATE LIMITED,organization',
 'Oct 2019,date',
 'Till Date,date',
 'HR Executive,designation',
 'Lejara Global IT Solutions Pvt.,organization',
 'July 2017,date',
 'Sep 2019,date',
 'TechMahindra ltd,organization',
 'Software Engineer,designation',
 'Feb 2017,date',
 'Till date,date',
 'Tata Consultancy Services,organization',
 'Machine Learning Engineer,designation',
 'Jan 2019,date',
 'Till Date,date',
 'Oracle Database Administrator,designation',
 'July 2018,date',
 'Dec 2018,date',
 'IVEOND Consulting Pvt Ltd,organization',
 'Data Scientist,designation',
 '1/09/2021,date',
 'current Date,date',
 'Synerg Technology (India),organization',
 'Junior AI Developer,designation',
 '14/09/2020,date',
 '29/08/2021,date',
 'Mandate Logistics Pvt Ltd,organization',
 'Data Scientist,designation',
 '07/08/2019,date',
 '07/09/2020,date',
 'Data Scientist (Intern),designation',
 '02/2018,date',
 '01/2019,date',
 'Feedback180 Co. Ltd,organization',
 'Data Scientist,designation',
 'Tech Mahindra,organization']

In [103]:
len(org)

97

In [104]:
len(des)

107

In [105]:
len(date)

148

In [315]:
text = """3+ years of Experience in Sysark Datasol Pvt. Ltd. (Jan 2019-Till Date)"""

In [316]:
doc = nlp(text)

In [317]:
print(doc)

3+ years of Experience in Sysark Datasol Pvt. Ltd. (Jan 2019-Till Date)

In [318]:
for ent in doc.ents:
#     if ent.label == ""
     print(ent.text,",",ent.label_)

3+ years , total exp
Sysark Datasol Pvt. , companies
Ltd. , algorithms
Jan 2019 , start date
Till Date , end date

In [239]:
designation = []
organization = []
date = []

to_count = 0
us_count = 0
x
for ent in doc.ents:
    if ent.label_ == "designation":
        designation.append(ent.text)
    elif ent.label_ == "organization":
        organization.append(ent.text)
    else:
        date.append(ent.text)  

    df = pd.DataFrame([designation,organization,date]).T
    df.columns = ['designation','organization','date']

In [217]:
df

      designation      organization       date
0  Data Scientist  Optm Private ltd   Sep 2020
1  Data Scientist         Alignity.  till date
2  Data Scientist            Yagnum   Aug 2019
3            None              None   Aug 2021
4            None              None   Jul 2017
5            None              None   Aug 2019

In [218]:
final_df = pd.DataFrame(columns = ['desg','orgs','date'])

In [219]:
df1 = pd.DataFrame(['abc',c_desg, orgs, date]).T

In [221]:
c_desg = df.designation.tolist()[1]
c_desg

'Data Scientist'

In [222]:
orgs = df.organization.tolist()
orgs

['Optm Private ltd', 'Alignity.', 'Yagnum', None, None, None]

In [223]:
final_df = pd.DataFrame(columns = ['name','desg','orgs', 'date'])

In [224]:
df1 = pd.DataFrame(['res1', c_desg, orgs, date]).T
df1.columns = ['name','desg','orgs', 'date']

In [228]:
df1['orgs'][0]

['Optm Private ltd', 'Alignity.', 'Yagnum', None, None, None]

In [ ]:
df1[]

In [178]:
final_df = pd.concat([final_df,df1],axis=0).reset_index(drop=True)

In [179]:
final_df

   name            desg                                   orgs
0  res1  Data Scientist  [Optm Private ltd, Alignity., Yagnum]

In [267]:
desig = []
organ = []
dat = []

to_count = 0
us_count = 0

for ent in doc.ents:
    if ent.label_ == "designation":
        desig.append(ent.text)
    elif ent.label_ == "organization":
        organ.append(ent.text)
    else:
        dat.append(ent.text)

In [255]:
da = []

if len(org) < len(dat):
    for i in range(0, len(dat)-1):
        if "to" or "-" not in dat:
            da.append(dat[i]+" to " + dat[i+1])

In [271]:
dat

['Sep 2020', 'till date', 'Aug 2019', 'Aug 2021', 'Jul 2017', 'Aug 2019']

In [285]:
a = [1,2,3,4,5,6]
for i in range(len(a)):
    print()

0  1
1  2
2  3
3  4
4  5

In [290]:
for i in range(len(dat)-1):
    if i<=len(dat):
        if dat[i] != dat[i-1]:
            print(dat[i],"to", dat[i+1])

Sep 2020 to till date
till date to Aug 2019
Aug 2019 to Aug 2021
Aug 2021 to Jul 2017
Jul 2017 to Aug 2019

In [322]:
import spacy
nlp = spacy.load(r'F:\projects\RR\code\RNER\models')

In [323]:
file = r"F:\projects\RR\Datasets\sample_resumes\text_resumes\abinash cv1.txt"

In [324]:
texts = []

with open(file, "r",encoding='utf-8') as fp:
    text = ''.join(fp.readlines())
    texts.append(text)

In [325]:
content = ''.join(texts)

In [326]:
content

' \nAbinash Sahu \n                                                                     \n \nEmail ID:abinashgcs@gmail.com                Cell: +91-7008460530 \n \n \nCareer Objective \n \nHighly motivated individual with a strong track record of performance in handling relationship \nmanagement activities to identify and define business requirements, and translate business needs \ninto complex models. Competent at identifying different data sources and providing associated data \nmodelling and data visualization. \n \n                                                                       Key Skills \n \n| Python | Advance Predictive modeling and designing drilldown analysis for business insights \n|Statistical modeling  |Machine Learning Algorithms| EDA | Natural Language Processing |Text \nmining |Text Class|My SQL| Credit Risk Analysis and Project Management  | Client management \nand cross functional project handling | GIT  \n \nQualification Summary \n \n  Analytical, enthusiastic and innovative Data Science Lead with  3+ years of IT experience in the \ndifferent areas of Data Science, Machine Learning and Automation. \n  Deft at undertaking various statistical methods and testing processes such as hypothesis testing, \nLinear regression, Logistic regression, Clustering, Decision Trees, Random Forest and Natural \nLanguage Processing.  \n \n  Pragmatic  exposure  in  data  ingestion  and  cleaning  using  Python  Programming. Thorough \nknowledge of Data warehousing and Data mining concepts. \n \n  Sound knowledge of drawing insights through predictive analysis and data visualization, to drive \nbetter decision making through the use of various statistical modelling techniques.  \n \n  Experienced in all phases of data analysis spanning definition and analysis of questions with \nrespect to available dasta & resources, overview of data &  assessment of data quality, selection of \nappropriate models & statistical tests and presentation of results \n \n  Leveraging skill in importing, cleaning, transforming, validating or modelling data with the purpose \nof understanding or making conclusions from the data for decision making purposes. \n \n  Good at SQL commands (DDL, DML, DCL, Joins, sub queries) and SQL functions. \n \nTechnical Skills \n \n \n  Python - Developed various regression and classification models of ML using pandas, numpy, scikit \nlearn etc, and visualization using Seaborn and MatPlotlib libraries. Good experience in validating \nmodels using Cross validation, confusion matrix, ROC curve etc. \n  Statistics- Strong understanding on applied Statistics and advance statistical analysis.   Machine Learning and AI– Strong working knowledge of various ML regression and classification \nalgorithms such as Linear and logistic regression, Decision tree, Random forest, SVM,kNN,Naïve-\nBayes,XG-Boost etc. Strong knowledge of hypothesis testing. \n  SQL– Good knowledge on database management and query writing skills in SQL and Access. \nStatements and clauses, Entity and attribute relationships, Joins, views, pivot and un-pivot, case and \nwhen statement, ranking and row order and store procedures etc. \n \n \n \n \nWork Experience \n\uf0b7  3+ years of Experience in Sysark Datasol Pvt. Ltd. (Jan 2019-Till Date) \n \n \n Mar 2021 till Sep 2021 \n \nProject : Credit Risk Management \nDesignation : Data Scientist  \nTools & Techologies used : Python,EDA,Statistical Analysis,Machine Learning Models,Cross Validation. \nObjective: \nThe main objective of this project is to understand credit risk management which is a practice of mitigating \nlosses by understanding the adequacy of a bank’s capital and loan loss reserves at any given time, a \nprocess that has long been a challenge for financial institutions. \nEffective credit risk management is to gain a complete understanding of a bank’s overall credit risk by \nviewing risk at the individual, customer and portfolio levels. \n \nResponsibility: \n\uf0b7  To understand the Business problem and interact with the client on regular basis to get more and \ndeep insight of the data shared by the client. \n\uf0b7  Better model management that spans the entire modelling life cycle. \n\uf0b7  Data visualization capabilities and business intelligence tools that get important information into \nthe hands of those who need it, when they need it. \n\uf0b7  To draw the insights from the data and develop a predictive model which will help in categorizing \nthe individual customer and sector of the bank efficiently. \n\uf0b7  To do the variable selection which are important in developing predictive model with good \naccuracy.  \n\uf0b7  Prepare Origination and Performance reporting to create multiple dashboards for drill down \nanalysis and specific KPI metrics. \n\uf0b7  Design data architecture and solve complex data integrity issues.  \n\uf0b7  Design various charts to explain the trend and perforce of portfolios over the period of time. \n\uf0b7  Create drill down analysis in Tableau. \n \n      Dec2019-Nov 2020 \nProject :  Sentiment Analysis \nSentiment Analysis for Air Purification Market: The client in consumer electronics domain was looking \nfor insights into a fast growing product in Indian Consumer Market – Air Purifiers. The insights project was \ndriven by Sentiment Analysis of social media data  (i.e. Tweets /Comments / Status Updates/Product \nreviews) using Python. The project also included a paid review classifier which would flag reviews as paid \nor genuine. \n  \nObjective: The main objective of this project is to  determine whether data is positive, negative \nor neutral. Sentiment analysis is often performed on textual data to help businesses monitor \nbrand and product sentiment in customer feedback, and understand customer needs. \n \n \nProject Type: Classification Model, Consumer Insights \nDuration: Dec 2019-Nov 2020 \nTools Used: Python, Microsoft Power Point \nTechniques used: SVM Linear, Document Term Matrix, Lexicon Token Analysis, N-gram distribution, \nSentiment Polarity scoring \nRole: Project Manager/Data Analyst \nResponsibilities: \n\uf0fc  Requirement Gathering  \n\uf0fc  Project Planning and Execution  \n\uf0fc  Task Allocation \n\uf0fc  Classification modeling \n\uf0fc  Feature Engineering \n\uf0fc  Python Scripting for Natural Language Processing, Classification \n\uf0fc  Power Point Presentation \n \nAcademic Qualifications \n \n \n\uf0b7  SSC  from Shanti Niketan High School with a percentage of 78 %. \n\uf0b7  HSC (+2)  in Science(PCM) from Lambodar College of Science with a percentage of  75 %. \n\uf0b7  B.Tech from KMBB College of Engineering and Technology with an overall CGPA of 7.01. \n \nPersonal Details \n \nDate of Birth               :   15th June,1995 \nGender               :      Male \nAddress               :      At-Gandhi Nagar Pada,Balangir,odisha,Pin-767001 \nLinguistics               :     English & Hindi \nEnd Of Resume'

In [327]:
doc = nlp(content)

In [328]:
for ent in doc.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: Abinash Sahu ---> Label: name
Text: +91-7008460530 ---> Label: mobile
Text: Python ---> Label: skills
Text: Advance Predictive modeling ---> Label: skills
Text: Natural Language Processing ---> Label: skills
Text: Class|My SQL| Credit Risk Analysis ---> Label: algorithms
Text: GIT ---> Label: skills
Text: 3+ years ---> Label: total exp
Text: Data Science ---> Label: skills
Text: Machine Learning ---> Label: skills
Text: Linear regression ---> Label: algorithms
Text: Logistic regression ---> Label: algorithms
Text: Clustering ---> Label: algorithms
Text: Decision Trees ---> Label: algorithms
Text: Random Forest ---> Label: algorithms
Text: Natural
Language Processing. ---> Label: skills
Text: Python ---> Label: skills
Text: data visualization ---> Label: skills
Text: data analysis ---> Label: skills
Text: Python ---> Label: skills
Text: pandas ---> Label: skills
Text: numpy ---> Label: skills
Text: scikit
learn ---> Label: skills
Text: Machine Learning ---> Label: skills
Text: AI ---> Label: skills
Text: ML regression ---> Label: skills
Text: classification ---> Label: skills
Text: Linear and logistic regression ---> Label: algorithms
Text: Decision tree ---> Label: algorithms
Text: Random forest ---> Label: algorithms
Text: SVM ---> Label: algorithms
Text: kNN ---> Label: algorithms
Text: Naïve-
Bayes ---> Label: algorithms
Text: XG-Boost ---> Label: algorithms
Text: SQL ---> Label: skills
Text: 3+ years ---> Label: total exp
Text: Sysark Datasol Pvt. ---> Label: companies
Text: Ltd. ---> Label: algorithms
Text: Jan 2019 ---> Label: start date
Text: Till Date ---> Label: end date
Text: Credit Risk Management ---> Label: project name
Text: Data Scientist ---> Label: designation
Text: Python ---> Label: skills
Text: Statistical Analysis ---> Label: skills
Text: Machine Learning Models ---> Label: skills
Text: Data visualization ---> Label: skills
Text: Sentiment Analysis ---> Label: project name
Text: Python ---> Label: skills
Text: Python ---> Label: skills
Text: Microsoft Power Point ---> Label: skills
Text: Linear, Document Term Matrix ---> Label: algorithms
Text: Lexicon Token Analysis ---> Label: algorithms
Text: N-gram distribution ---> Label: algorithms
Text: Manager/Data Analyst ---> Label: job roles
Text: Python ---> Label: skills
Text: Natural Language Processing ---> Label: skills
Text: Classification ---> Label: skills
Text: Power Point Presentation ---> Label: skills
Text: Shanti Niketan High School ---> Label: college name
Text: 78 %. ---> Label: percentage
Text: HSC (+2)  in Science(PCM) ---> Label: education
Text: Lambodar College of Science ---> Label: college name
Text: 75 %. ---> Label: percentage
Text: B.Tech ---> Label: education
Text: KMBB College ---> Label: skills
Text: 7.01. ---> Label: percentage
Text: 15th ---> Label: education
Text: Male
 ---> Label: skills
Text: English ---> Label: linguistics
Text: Hindi ---> Label: linguistics

In [331]:
test1 = """Abinash Sahu 
                                                                     
 
Email ID:abinashgcs@gmail.com                Cell: +91-7008460530 
 
"""
doc1 = nlp(test1)
for ent in doc1.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: Abinash Sahu ---> Label: name
Text: +91-7008460530 ---> Label: mobile

In [332]:
test2 = """Highly motivated individual with a strong track record of performance in handling relationship 
management activities to identify and define business requirements, and translate business needs 
into complex models. Competent at identifying different data sources and providing associated data 
modelling and data visualization"""
doc2 = nlp(test2)
for ent in doc2.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

In [333]:
test3 = """| Python | Advance Predictive modeling and designing drilldown analysis for business insights 
|Statistical modeling  |Machine Learning Algorithms| EDA | Natural Language Processing |Text 
mining |Text Class|My SQL| Credit Risk Analysis and Project Management  | Client management 
and cross functional project handling | GIT  """
doc3 = nlp(test3)
for ent in doc3.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: Python ---> Label: skills
Text: Advance Predictive modeling ---> Label: skills
Text: Natural Language Processing ---> Label: skills
Text: Class|My SQL| Credit Risk Analysis ---> Label: algorithms
Text: GIT ---> Label: skills

In [337]:
test3 = """Analytical, enthusiastic and innovative Data Science Lead with  3+ years of IT experience in the 
different areas of Data Science, Machine Learning and Automation. 
  Deft at undertaking various statistical methods and testing processes such as hypothesis testing, 
Linear regression, Logistic regression, Clustering, Decision Trees, Random Forest and Natural 
Language Processing.  
 
  Pragmatic  exposure  in  data  ingestion  and  cleaning  using  Python  Programming. Thorough 
knowledge of Data warehousing and Data mining concepts. 
 
  Sound knowledge of drawing insights through predictive analysis and data visualization, to drive 
better decision making through the use of various statistical modelling techniques.  
 
  Experienced in all phases of data analysis spanning definition and analysis of questions with 
respect to available dasta & resources, overview of data &  assessment of data quality, selection of 
appropriate models & statistical tests and presentation of results 
 
  Leveraging skill in importing, cleaning, transforming, validating or modelling data with the purpose 
of understanding or making conclusions from the data for decision making purposes. 
 
  Good at SQL commands (DDL, DML, DCL, Joins, sub queries) and SQL functions. """
doc3 = nlp(test3)
for ent in doc3.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: 3+ years ---> Label: total exp
Text: Data Science ---> Label: skills
Text: Machine Learning ---> Label: skills
Text: Linear regression ---> Label: algorithms
Text: Logistic regression ---> Label: algorithms
Text: Clustering ---> Label: algorithms
Text: Decision Trees ---> Label: algorithms
Text: Random Forest ---> Label: algorithms
Text: Natural
Language Processing. ---> Label: skills
Text: Python ---> Label: skills
Text: data visualization ---> Label: skills
Text: data analysis ---> Label: skills

In [336]:
test4 = """Python - Developed various regression and classification models of ML using pandas, numpy, scikit 
learn etc, and visualization using Seaborn and MatPlotlib libraries. Good experience in validating 
models using Cross validation, confusion matrix, ROC curve etc. 
  Statistics- Strong understanding on applied Statistics and advance statistical analysis.   Machine Learning and AIâ€“ Strong working knowledge of various ML regression and classification 
algorithms such as Linear and logistic regression, Decision tree, Random forest, SVM,kNN,NaÃ¯ve-
Bayes,XG-Boost etc. Strong knowledge of hypothesis testing. 
  SQLâ€“ Good knowledge on database management and query writing skills in SQL and Access. 
Statements and clauses, Entity and attribute relationships, Joins, views, pivot and un-pivot, case and 
when statement, ranking and row order and store procedures etc. """
doc4 = nlp(test4)
for ent in doc4.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: Python ---> Label: skills
Text: pandas ---> Label: skills
Text: numpy ---> Label: skills
Text: scikit
learn ---> Label: skills
Text: Machine Learning ---> Label: skills
Text: ML regression ---> Label: skills
Text: classification ---> Label: skills
Text: Linear and logistic regression ---> Label: algorithms
Text: Decision tree ---> Label: algorithms
Text: Random forest ---> Label: algorithms
Text: SVM ---> Label: algorithms
Text: kNN ---> Label: algorithms
Text: NaÃ¯ve-
Bayes ---> Label: algorithms
Text: XG-Boost ---> Label: algorithms

In [338]:
test5 = """3+ years of Experience in Sysark Datasol Pvt. Ltd. (Jan 2019-Till Date) 
 
 
 Mar 2021 till Sep 2021 
 
Project : Credit Risk Management 
Designation : Data Scientist  
Tools & Techologies used : Python,EDA,Statistical Analysis,Machine Learning Models,Cross Validation. 
Objective: 
The main objective of this project is to understand credit risk management which is a practice of mitigating 
losses by understanding the adequacy of a bankâ€™s capital and loan loss reserves at any given time, a 
process that has long been a challenge for financial institutions. 
Effective credit risk management is to gain a complete understanding of a bankâ€™s overall credit risk by 
viewing risk at the individual, customer and portfolio levels. 
 
Responsibility: 
ï‚·  To understand the Business problem and interact with the client on regular basis to get more and 
deep insight of the data shared by the client. 
ï‚·  Better model management that spans the entire modelling life cycle. 
ï‚·  Data visualization capabilities and business intelligence tools that get important information into 
the hands of those who need it, when they need it. 
ï‚·  To draw the insights from the data and develop a predictive model which will help in categorizing 
the individual customer and sector of the bank efficiently. 
ï‚·  To do the variable selection which are important in developing predictive model with good 
accuracy.  
ï‚·  Prepare Origination and Performance reporting to create multiple dashboards for drill down 
analysis and specific KPI metrics. 
ï‚·  Design data architecture and solve complex data integrity issues.  
ï‚·  Design various charts to explain the trend and perforce of portfolios over the period of time. 
ï‚·  Create drill down analysis in Tableau. 
 
      Dec2019-Nov 2020 
Project :  Sentiment Analysis 
Sentiment Analysis for Air Purification Market: The client in consumer electronics domain was looking 
for insights into a fast growing product in Indian Consumer Market â€“ Air Purifiers. The insights project was 
driven by Sentiment Analysis of social media data  (i.e. Tweets /Comments / Status Updates/Product 
reviews) using Python. The project also included a paid review classifier which would flag reviews as paid 
or genuine. 
  
Objective: The main objective of this project is to  determine whether data is positive, negative 
or neutral. Sentiment analysis is often performed on textual data to help businesses monitor 
brand and product sentiment in customer feedback, and understand customer needs. 
 
 
Project Type: Classification Model, Consumer Insights 
Duration: Dec 2019-Nov 2020 
Tools Used: Python, Microsoft Power Point 
Techniques used: SVM Linear, Document Term Matrix, Lexicon Token Analysis, N-gram distribution, 
Sentiment Polarity scoring 
Role: Project Manager/Data Analyst 
Responsibilities: 
ïƒ¼  Requirement Gathering  
ïƒ¼  Project Planning and Execution  
ïƒ¼  Task Allocation 
ïƒ¼  Classification modeling 
ïƒ¼  Feature Engineering 
ïƒ¼  Python Scripting for Natural Language Processing, Classification 
ïƒ¼  Power Point Presentation """

doc5 = nlp(test5)
for ent in doc5.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: 3+ years ---> Label: total exp
Text: Sysark Datasol Pvt. ---> Label: companies
Text: Ltd. ---> Label: algorithms
Text: Jan 2019 ---> Label: start date
Text: Till Date ---> Label: end date
Text: Credit Risk Management ---> Label: project name
Text: Data Scientist ---> Label: designation
Text: Python ---> Label: skills
Text: Statistical Analysis ---> Label: skills
Text: Machine Learning Models ---> Label: skills
Text: Data visualization ---> Label: skills
Text: Sentiment Analysis ---> Label: project name
Text: Python ---> Label: skills
Text: Python ---> Label: skills
Text: Microsoft Power Point ---> Label: skills
Text: Linear, Document Term Matrix ---> Label: algorithms
Text: Lexicon Token Analysis ---> Label: algorithms
Text: N-gram distribution ---> Label: algorithms
Text: Manager/Data Analyst ---> Label: job roles
Text: Python ---> Label: skills
Text: Natural Language Processing ---> Label: skills
Text: Classification ---> Label: skills
Text: Power Point Presentation ---> Label: skills

In [339]:
test6 = """ï‚·  SSC  from Shanti Niketan High School with a percentage of 78 %. 
ï‚·  HSC (+2)  in Science(PCM) from Lambodar College of Science with a percentage of  75 %. 
ï‚·  B.Tech from KMBB College of Engineering and Technology with an overall CGPA of 7.01."""
doc6 = nlp(test6)
for ent in doc6.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: Shanti Niketan High School ---> Label: college name
Text: 78 %. ---> Label: percentage
Text: HSC (+2)  in Science(PCM) ---> Label: education
Text: Lambodar College of Science ---> Label: college name
Text: 75 %. ---> Label: percentage
Text: B.Tech ---> Label: education
Text: KMBB College ---> Label: skills
Text: 7.01. ---> Label: percentage

In [340]:
test7 = """Date of Birth               :   15th June,1995 
Gender               :      Male 
Address               :      At-Gandhi Nagar Pada,Balangir,odisha,Pin-767001 
Linguistics               :     English & Hindi"""

doc7 = nlp(test7)
for ent in doc7.ents:
    print('Text:',ent.text,'--->','Label:', ent.label_)

Text: 15th ---> Label: education
Text: Male
 ---> Label: skills
Text: English ---> Label: linguistics
Text: Hindi ---> Label: linguistics

In [37]:
nlp = spacy.load('./modelss')

In [28]:
file = r"F:\projects\RR\code\RNER\testing\pdf_2_txt\ManideepGiddam[7_0] (1) (1).txt"

texts = []

with open(file, "r",encoding='utf-8') as fp:
    text = ''.join(fp.readlines())
    texts.append(text)

content = ''.join(texts)

In [38]:
doc = nlp(content)
for ent in doc.ents:
    print(ent.text, ent.label_)

Data scientist designation
Data Scientist designation
3 years total exp
Societe Generale algorithms
Machine learning skills
Python skills
-Python skills
Pandas skills
Seaborn skills
Sk) skills
Numpy Pandas designation
R skills
Senior Analyst job roles
Wipro companies
HSBC education
B. Com education
Intermediate project name
Sri Chaitanya Jr. college companies
S.S.C
Hyderabad Sainik School education